.row {
width: 48%;
height: 40%;
}

.alert {
width: 10%;
height: 5%;
}


#airplant {
  width: 320px;
  bottom: 240px;
}

#jade {
  width: 25px;
  bottom: 25px;
}

#spider {
  width: 25px;
  bottom: 25px;
}

.btn-group {
  width: 25px;
  bottom: 25px;
}

.your-score {
  float: left;
  margin-top: 25px;
  margin-bottom: 10;
  padding-top: 5px;
}
