.row {
width: 48%;
height: 40%;
}

.alert {
width: 10%;
height: 5%;
}

.imgcrys{
  width: 20% !important;
  height: auto;
}

.picture {
  width: 10%;
  height: 30px;
}

.your-score {
  float: center;
  margin-top: 53px;
  margin-bottom: 10;
  padding-top: 5px;
}
