.container-fluid {
  background-color: blueviolet;
  font-size: large;
}

h4, #your-score, .card-text {
  background-color: pink;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
}

.row {
width: 48%;
height: 40%;
}

.alert {
width: 10%;
height: 5%;
}

.imgcrys{
  width: 45%;
  height: auto;
}

.picture {
  width: 50%;
  height: 50px;
  padding: 15px;
  margin: 10pt;
}
.card-body {
  height: 75%;
  background-color: blueviolet;
  
}

.your-score {
  text-align: center
  margin-top 53px;
  margin-bottom: 10;
  padding-top: 5px;
}
